.wrapper {
  color: var(--main-light);
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  user-select: none;
  background-color: color-mix(in oklab, currentColor 10%, white 90%);

  .icon {
    color: currentColor;
  }

  .label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .close {
    color: currentColor;
    cursor: pointer;
  }

  &.bold {
    .label {
      font-weight: bold;
    }
  }
}

@mixin size($size) {
  gap: var(--size-#{$size}-space);
  border-radius: 100px;
  padding: var(--size-#{$size}-space);
}

.size-s {
  @include size(s);
}
.size-m {
  @include size(m);
}
.size-l {
  @include size(l);
}
