.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.wrapper {
  display: flex;
  width: 100%;
  background-color: var(--grey-100);
}

.NoBg {
  background-color: transparent;
  margin-left: -10px;
}

@mixin size($size) {
  border-radius: var(--general-size#{$size}-borderradius);
  padding-right: var(--general-size#{$size}-margin-h);
}
.size-24 {
  @include size(24);
}
.size-34 {
  @include size(34);
}
.size-48 {
  @include size(48);
}

.vertical {
  flex-direction: column;
  gap: 0;
}
.horizontal {
  flex-direction: row;
}
