.wrapperSpan {
  display: inline-block;
}

@keyframes animation-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltip {
  opacity: 0;
  animation: animation-show 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  width: max-content;
  max-width: 200px;
  word-break: break-word;

  .arrow {
    position: absolute;
    transform: rotate(45deg);
    border: 1px solid transparent;

    .innerArrow {
      border: 4px solid transparent;
    }
  }
}

@mixin size($size) {
  font: var(--size-#{$size}-font);
  padding: var(--size-#{$size}-space);
  border-radius: var(--size-#{$size}-space);
}
.size-s {
  @include size(s);
}

.size-m {
  @include size(m);
}

.size-l {
  @include size(l);
}

.variant-light {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--grey-500);

  .arrow {
    border-color: var(--grey-500);

    .innerArrow {
      background-color: white;
    }
  }
}

.variant-dark {
  color: var(--white);
  background-color: var(--grey-900);
  border: 1px solid var(--grey-900);

  .arrow {
    border-color: var(--grey-900);

    .innerArrow {
      background-color: var(--grey-900);
    }
  }
}

.disabled {
  display: none;
}
