.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
  width: fit-content;

  &:hover {
    background-color: var(--button-dark);
    color: var(--white);
  }
}

.variant-dark {
  background-color: var(--button-light);
  border-color: var(--button-light);
  color: var(--white);
}
.variant-light {
  background-color: var(--button-transparent);
  border-color: var(--button-transparent);
  color: var(--button-light);
}
.variant-outline {
  background-color: transparent;
  border-color: var(--button-light);
  color: var(--button-light);
}
.variant-ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-light);
}

@mixin size($size) {
  border-radius: var(--size-#{$size}-borderradius);
  padding: 0 var(--size-#{$size}-space);
  height: var(--size-#{$size}-size);
  min-height: var(--size-#{$size}-size);
  gap: var(--size-#{$size}-space);
}

.size-s {
  @include size(s);
}
.size-m {
  @include size(m);
}
.size-l {
  @include size(l);
}

.active {
  background-color: var(--main-dark);
  color: var(--white);
  border-color: var(--main-light);
}
