html {
  font-family: sans-serif;
  font-size: 14px;
}

div,
input {
  font-feature-settings: 'pnum' on, 'lnum' on !important;
  box-sizing: border-box;
}

:root {
  --main-light: #4285f4;
  --main-dark: #3367d6;
  --main-transparent: #3367d612;

  --success-light: #34a853;
  --success-dark: #2e974b;
  --success-transparent: #34a85312;

  --warning-light: #ffa500;
  --warning-dark: #e59400;
  --warning-transparent: #ffa50012;

  --danger-light: #ea4335;
  --danger-dark: #d13c30;
  --danger-transparent: #ea433512;

  --white: #fff;
  --black: #000;
  --grey-100: #eeeeee;
  --grey-200: #dddddd;
  --grey-400: #aaaaaa;
  --grey-500: #888888;
  --grey-600: #777777;
  --grey-900: #333333;
  --grey-100-grad: rgba(0, 0, 0, 0.1);
  --grey-200-grad: rgba(0, 0, 0, 0.2);
  --grey-300-grad: rgba(0, 0, 0, 0.3);

  --font-text-12: normal 400 12px/14px sans-serif;
  --font-text-14: normal 400 14px/16px sans-serif;
  --font-text-16: normal 400 16px/18px sans-serif;

  --font-header-12: normal 700 12px/18px sans-serif;
  --font-header-14: normal 700 14px/21px sans-serif;
  --font-header-16: normal 700 16px/24px sans-serif;
  --font-header-18: normal 700 18px/20px sans-serif;
  --font-header-20: normal 700 20px/22px sans-serif;
  --font-header-22: normal 700 22px/26px sans-serif;
  --font-header-26: normal 700 26px/28px sans-serif;
  --font-header-30: normal 700 30px/34px sans-serif;

  --general-outline-width: 3px;
  --general-outline-style: solid;

  --size-s-size: 30px;
  --size-s-space: 6px;
  --size-s-borderradius: 4px;

  --size-m-size: 40px;
  --size-m-space: 10px;
  --size-m-borderradius: 6px;

  --size-l-size: 50px;
  --size-l-space: 16px;
  --size-l-borderradius: 8px;
}

input {
  font-feature-settings: 'pnum' on, 'lnum' on !important;
}

@mixin scroll {
  scrollbar-color: var(--grey-200-grad) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--grey-200-grad);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.row > [class^='col-'] {
  box-sizing: border-box;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 calc(100% * #{$i} / 12);
    max-width: calc(100% * #{$i} / 12);
    padding: 0px 10px;
  }
}
