@use '../../scss/theme';

.wrapper {
  padding: 40px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 20px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;

    .headerTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .icon {
        height: 20px;
        color: var(--grey-900);
      }

      .label {
        cursor: pointer;
      }
    }
  }

  .collapse {
    .collapseText {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
    svg {
      color: var(--main-light);
      min-width: 18px !important;
      min-height: 18px;
    }
  }

  .body {
    user-select: none;
    overflow: hidden;
    margin-top: 0px;

    .form {
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      @include theme.scroll;

      .noDataFound {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
      }
    }

    .inputWrapper {
      display: flex;
      flex-direction: column;

      .inputComponent {
        display: flex;
        flex-direction: column;
      }

      .errorWrapper {
        height: 18px;
      }
    }
  }

  .showHeader {
    margin-top: 40px;
  }

  .isCollapsedForm {
    height: 0px !important;
    margin: 0px !important;
  }

  .submitBtn {
    display: contents;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  .validationBar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 7px 10px;

    .flexRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    .bar {
      width: 134px;
      height: 14px;
      border-radius: 7px;
      background-color: var(--grey-100-grad);

      .filledBar {
        height: 100%;
        width: 0%;
        border-radius: 7px;
      }
    }
  }

  .validationSuccess {
    color: var(--success-light);
    background-color: var(--success-transparent);
    border: 1px solid var(--warning-green-t20);
  }

  .validationDanger {
    color: var(--danger-light);
    background-color: var(--danger-transparent);
    border: 1px solid var(--warning-red-t20);
  }

  .validationCollapseSuccess {
    margin-bottom: 0px;
  }
  .validationCollapseDanger {
    margin-bottom: 0px;
  }
}

.background {
  background-color: var(--grey-100);
}

.backgroundOnHover {
  &:hover {
    background-color: var(--grey-100);
  }
}

.noPadding {
  padding: 0px;
}

.isCollapsed {
  padding: 17px 40px;
  cursor: pointer;
}

.groupsWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  width: 100%;
  padding: 10px 0px;

  .groups {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .noItems {
      padding-bottom: 20px;
    }

    .group {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 15px;
      background-color: var(--grey-100-grad);
      padding-bottom: 0px;
      border-radius: 8px;
      padding: 15px 20px;

      .groupInputs {
        width: 100%;
      }

      .groupRemove {
        padding-left: 5px;
        margin-top: 17px;
      }
    }
  }

  .groupAdd {
    // margin: 10px;
  }
}

.toggleMarginTop {
  height: 17px;
}

.isWrongParentIndex {
  opacity: 0.3;
  height: 0px;
  visibility: hidden;
}
